.chinese-order {
  position: relative;
  text-align: left;

  h2 {
    margin-bottom: 50px;
  }

  p {
    color: #FFFAEE;
    margin-bottom: 25px;
    line-height: 30px;

  }

  img {
    width: 350px;

    @media (max-width: 426px) {
      width: 300px;
    }
  }

  button {
    background-color: #DA5043;
    border-radius: 55px;
    padding: 14px 30px;
    border: none;
    color: #FFFAEE;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 50px;

    @media (max-width: 426px) {
      gap: 50px;
    }

    @media (max-width: 376px) {
      gap: 70px;
    }
  }

}





